<div class="content-area">
	<div class="contact-form">
				<!-- This form will allow the user to send the owner an email. We'll ask for:
				Name 
				Company (limit length)
				Email (validate is an email)
				Text (Description of what they need.)
			We'll want to limit number of emails that 
			can be sent.
		-->
		<%= form_for @message, :url => sendemail_path do |f| %>
			<h4 class="header_text">Contact Me<span class="period">.</span></h4>
			<h6 class="header_text">Thanks for taking the time to stop by. Send me a message if you want to get in touch.</h6>
			<div class="row top_row">
				<%= f.text_field :name,  id: "full_name", class: "six columns", placeholder: "Name" %>
				<%= f.text_field :company, id: "company_name", class: "six columns", placeholder: "Company Name" %>
			</div>

			<div class="row top_row">
				<%= f.text_field :email, class: "six columns", placeholder: "Email" %>
				<%= f.text_field :phone, class: "six columns", placeholder: "Phone: 932-213-9385" %>
			</div>

			<div class="row top_row">
				<%= f.text_field :subject, class: "twelve columns", placeholder: "Email Subject" %>

			</div>

			<div class="row top_row">
				<%= f.text_area :body, class: "twelve columns user_message", placeholder: "If you have a job or a question for me, let me know here. Or just say hi."  %>
			</div>

			<%= f.button id: "sendButton" do %>
				Send <i class="fa fa-paper-plane-o fa-lg form_button"></i>
			<% end %>
		<% end %>
		<hr>

		<div class="social-icons">
			<div class="row">
				<div class="nine columns">
					<div class="social_info">
						<h6 class="header_text">Don't like forms? Reach out to me online or just send me an <a href="mailto:cleverjenny@gmail.com">email</a><i> (cleverjenny at gmail dot com)</i> directly.</h6>
					</div>
				</div>
				<div class="one columns social_links">
					<a href="https://www.facebook.com/cleverjenny" target="new"><i class="fa fa-facebook-square fa-2x"></i></a>
				</div>
				<div class="one columns social_links">

					<a href="https://www.linkedin.com/in/cleverjenny" target="new"><i class="fa fa-linkedin-square fa-2x"></i></a>
				</div>

				<div class="one columns social_links">
					<a href="mailto:cleverjenny@gmail.com" target="new" title="Click this link to open up your default email."><i class="fa fa-envelope fa-2x tooltip"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>

