.content-area
  %h2.welcome Freelance Line Producer for Film and Television
  .carousel
    .photo-div= image_tag("/hgtv_reduced.png", class: "resize")
    .photo-div= image_tag("/vh1.png", class: "resize")
    .photo-div= image_tag("/bio_reduced.png", class: "resize")
    .photo-div= image_tag("/viceland_reduced.png", class: "resize shorty")
    .photo-div= image_tag("/lucky-8_reduced.png", class: "resize shorty")
