<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Jenny Rose Starwalt</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<!-- Mobile Specific Metas-->
	<meta name="viewport" content="width=device-width, initial-scale=1">



	<!-- Font Icons and Fonts -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<%= csrf_meta_tags %>
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="fonts/SensaSans-RegularDemo.otf">
	<link href='https://fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css'>
	<!-- Slick -->
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css"/>
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick-theme.css"/>
</head>
<body>

	<div class="wrapper">
		<div class="container">
			<div class="row">
				<h1 class="page-header"><a href="/">Jenny Rose Starwalt</a></h1>
			</div>
			<div class="row">
				<div class="twelve columns">
					<nav class="full_nav">
						<ul class="nav-list">
							<li class="nav-item"><a class="button nav-button" href="/about">Me</a></li>
							<li class="nav-item"><a class="button nav-button" href="/work">Work</a></li>
							<li class="nav-item"><a class="button nav-button" href="/contact">Contact</a></li>
						</ul>	
					</nav>
				</div>
			</div>
		</div>
		<hr>
		<% if flash[:notice] %>
			<div class="notice"><%= flash[:notice] %></div>
		<% end %>
		<div class="container">

			<%= yield %>
		</div>
	</div>
	<footer class="bottom">
		<div class="footer-content">
			<div class="row">
				<div class="twelve cat-image">
					<button id="catButton" class='cat-button'>
						<img class="cat" src="/cat17.svg">
					</button>
				</div>	
			</div>
			<div id="copyrightArea" class="row copyright-area">
				<div class="twelve columns copyright"><p>&copy; JennyRose.com</p>
				</div>
			</div>
		</div>
	</footer>

	<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>
</body>
</html>
